td,th{
    border: solid blue 1px;
    height: 30px;
    width: 30px; 
}

.location{
    background: green;
}
.location1{
    background: blue;
}

#flex{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
}