td,
th {
    border: solid green 1px;
    height: 40px;
    width: 40px;
     background-color:rgba(0,6,0,0.5);
}

.location {
    background: green;
    background-image: url(Style/salvo.png);
    background-size: contain;
}

.location1 {
    background: green;
}

.location2 {
    background: yellow;
    background-image: url(Style/miss.png);
    background-size: contain;
    
}

#flex {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    margin-top:5%;
}

.TurnNumber {
    background: red;
    color: aqua;
}

.colorHit {
    background-color: darkred;
    background-image: url(Style/hitPhoto.jpg);
    background-size: contain;
}

#bodyColor{
    background-image: url("Style/battelShip.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Yeon Sung', cursive;
    color: aliceblue;
}
#back{
    background-color:rgba(0,6,0,0.5);
}