<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    <link rel="stylesheet" href="game.css">
</head>

<body>
    <div id="app">
        <div id="flex">
        <div id="flex1">
         {{player1}}   
        <table>

            <tr>
                <th></th>
                <th v-for="n in 10">
                    {{n}}
                </th>
            </tr>

            <tr v-for="n in 10">
                <td>{{String.fromCharCode(64+n)}}</td>
                <td v-for="x in 10" :id="String.fromCharCode(64+n) + x">{{String.fromCharCode(64+n)}}{{x}}</td>
            </tr>

        </table>
        </div>
        
        
        
        <div id="flex2">
        {{player2}}
        <table>

            <tr>
                <th></th>
                <th v-for="n in 10">
                    {{n}}
                </th>
            </tr>

            <tr v-for="n in 10">
                <td>{{String.fromCharCode(64+n)}}</td>
                <td v-for="x in 10" :id="'S'+String.fromCharCode(64+n) + x">{{String.fromCharCode(64+n)}}{{x}}</td>
            </tr>

        </table>
        </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js"></script>
</body>

</html>
