<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Ship Locations!</title>
    <link rel="stylesheet" href="game.css">
    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung" rel="stylesheet">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body id="bodyColor">
   
    <div id="app">
       <button type="button" class="btn btn-success" @click="logOut" >Log out</button>
        <div id="flex">
        <div id="flex1">
           <div id="back">
            <h1>{{player1}}</h1>
            </div>
        <table>

            <tr>
                <th></th>
                <th v-for="n in 10">
                    {{n}}
                </th>
            </tr>

            <tr v-for="n in 10">
                <td>{{String.fromCharCode(64+n)}}</td>
                <td v-for="x in 10" :id="String.fromCharCode(64+n) + x">{{String.fromCharCode(64+n)}}{{x}}</td>
            </tr>

        </table>
        </div>
        
        
        
        <div id="flex2">
        <div id="back">
        <h1>{{player2}}</h1>
        </div>
        <table>

            <tr>
                <th></th>
                <th v-for="n in 10">
                    {{n}}
                </th>
            </tr>

            <tr v-for="n in 10">
                <td>{{String.fromCharCode(64+n)}}</td>
                <td v-for="x in 10" :id="'S'+String.fromCharCode(64+n) + x">{{String.fromCharCode(64+n)}}{{x}}</td>
            </tr>

        </table>
        </div>
        </div>
    </div>
      <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js"></script>
</body>

</html>
